In [1]:
import pandas as pd

In [2]:
greens_df = pd.read_csv("./output.csv", header=None, names=["ImageFileName", "Green"])

In [3]:
greens_df

                   ImageFileName      Green
0       374832_374832_242793.jpg   0.016785
1       374832_374832_242801.jpg   0.000000
2       374832_374832_242809.jpg   0.518417
3       374832_374832_242817.jpg   0.002670
4       374832_374832_242825.jpg   3.628826
...                          ...        ...
538126  375590_375590_243466.jpg  71.113014
538127  375590_375590_243474.jpg  38.888359
538128  375590_375590_243482.jpg  48.880482
538129  375590_375590_243490.jpg  73.212433
538130  375590_375590_243498.jpg  95.406437

[538131 rows x 2 columns]

In [6]:
locations_df = pd.read_csv("./output__incomplete.csv", header=None,
                          names=["ImageFileName", "lat", "lon", "loc1", "loc2"])

In [7]:
locations_df

,ImageFileName,lat,lon,loc1,loc2
0,374832_374832_242793.jpg,13.169420,77.377052,Bardi,Bangalore Rural
1,374832_374832_242794.jpg,13.168751,77.377052,Bardi,Bangalore Rural
2,374832_374832_242795.jpg,13.168083,77.377052,Bardi,Bangalore Rural
3,374832_374832_242796.jpg,13.167414,77.377052,Bardi,Bangalore Rural
4,374832_374832_242797.jpg,13.166745,77.377052,Bardi,Bangalore Rural
...,...,...,...,...,...
284656,375452_375452_243238.jpg,12.871719,77.802773,Mahal Chowdadenahalli,Bengaluru Urban
284657,375452_375452_243239.jpg,12.871050,77.802773,Sarjapura,Bengaluru Urban
284658,375452_375452_243240.jpg,12.870380,77.802773,Sarjapura,Bengaluru Urban
284659,375452_375452_243241.jpg,12.869711,77.802773,Sarjapura,Bengaluru Urban
284660,375452_375452_243242.jpg,12.869041,77.802773,Sarjapura,Bengaluru Urban

In [8]:
combined_df = pd.merge(locations_df, greens_df, on="ImageFileName")

In [9]:
combined_df

,ImageFileName,lat,lon,loc1,loc2,Green
0,374832_374832_242793.jpg,13.169420,77.377052,Bardi,Bangalore Rural,0.016785
1,374832_374832_242794.jpg,13.168751,77.377052,Bardi,Bangalore Rural,6.078339
2,374832_374832_242795.jpg,13.168083,77.377052,Bardi,Bangalore Rural,4.986191
3,374832_374832_242796.jpg,13.167414,77.377052,Bardi,Bangalore Rural,26.789761
4,374832_374832_242797.jpg,13.166745,77.377052,Bardi,Bangalore Rural,37.653446
...,...,...,...,...,...,...
284656,375452_375452_243240.jpg,12.870380,77.802773,Sarjapura,Bengaluru Urban,2.929878
284657,375452_375452_243241.jpg,12.869711,77.802773,Sarjapura,Bengaluru Urban,14.162827
284658,375452_375452_243241.jpg,12.869711,77.802773,Sarjapura,Bengaluru Urban,14.162827
284659,375452_375452_243242.jpg,12.869041,77.802773,Sarjapura,Bengaluru Urban,3.155994
284660,375452_375452_243242.jpg,12.869041,77.802773,Sarjapura,Bengaluru Urban,3.155994

In [10]:
combined_df.columns

Index(['ImageFileName', 'lat', 'lon', 'loc1', 'loc2', 'Green'], dtype='object')

In [12]:
# combined_df = combined_df.drop(['Left_Edge_Longitude', 'Right_Edge_Longitude',
#                   'Top_Edge_Latitude', 'Bottom_Edge_Latitude'],
#                 axis=1)

In [13]:
combined_df

,ImageFileName,lat,lon,loc1,loc2,Green
0,374832_374832_242793.jpg,13.169420,77.377052,Bardi,Bangalore Rural,0.016785
1,374832_374832_242794.jpg,13.168751,77.377052,Bardi,Bangalore Rural,6.078339
2,374832_374832_242795.jpg,13.168083,77.377052,Bardi,Bangalore Rural,4.986191
3,374832_374832_242796.jpg,13.167414,77.377052,Bardi,Bangalore Rural,26.789761
4,374832_374832_242797.jpg,13.166745,77.377052,Bardi,Bangalore Rural,37.653446
...,...,...,...,...,...,...
284656,375452_375452_243240.jpg,12.870380,77.802773,Sarjapura,Bengaluru Urban,2.929878
284657,375452_375452_243241.jpg,12.869711,77.802773,Sarjapura,Bengaluru Urban,14.162827
284658,375452_375452_243241.jpg,12.869711,77.802773,Sarjapura,Bengaluru Urban,14.162827
284659,375452_375452_243242.jpg,12.869041,77.802773,Sarjapura,Bengaluru Urban,3.155994
284660,375452_375452_243242.jpg,12.869041,77.802773,Sarjapura,Bengaluru Urban,3.155994

In [14]:
# combined_df.dropna(subset=["Postal_Code"], inplace=True)

In [15]:
# combined_df

In [16]:
# combined_df = combined_df.astype({"Postal_Code": int})

In [17]:
# combined_df["Lat"], combined_df["Lon"] = combined_df["Lat_Lng"].str.split(",", 1).str

In [18]:
# combined_df.drop("Lat_Lng", axis=1, inplace=True)

In [19]:
# combined_df = combined_df[["ImageFileName", "Lat", "Lon", "Locality", "Postal_Code", "Green"]]

In [20]:
# combined_df

In [22]:
combined_df.to_csv("main_new.csv", index=False, header=False)