In [1]:
import pandas as pd

In [2]:
greens_df = pd.read_csv("./greens.csv", header=None, names=["ImageFileName", "Green"])

In [3]:
greens_df

        ImageFileName      Green
0      9373960720.jpg   8.861160
1      9378760705.jpg   1.341152
2      9375560755.jpg  31.465054
3      9383960796.jpg   2.783680
4      9376060780.jpg  30.135918
...               ...        ...
19165  9373360699.jpg  36.132526
19166  9376060799.jpg  27.312851
19167  9373960739.jpg  13.606739
19168  9376260735.jpg  10.248661
19169  9380660822.jpg   9.908676

[19170 rows x 2 columns]

In [4]:
locations_df = pd.read_csv("./file9500csv/file9500.csv")

In [5]:
locations_df

,ImageFileName,Left_Edge_Longitude,Right_Edge_Longitude,Top_Edge_Latitude,Bottom_Edge_Latitude,Lat_Lng,Locality,Postal_Code
0,9370860697.jpg,77.376709,77.379456,13.173097,13.170423,"13.171759767636011,77.37808227539062",NaN,NaN
1,9370860698.jpg,77.376709,77.379456,13.170423,13.167748,"13.16908542990592,77.37808227539062",NaN,NaN
2,9370860699.jpg,77.376709,77.379456,13.167748,13.165074,"13.16641106296856,77.37808227539062",NaN,562123.0
3,9370860700.jpg,77.376709,77.379456,13.165074,13.162399,"13.16373666682944,77.37808227539062",NaN,562123.0
4,9370860701.jpg,77.376709,77.379456,13.162399,13.159725,"13.161062241494065,77.37808227539062",NaN,562123.0
...,...,...,...,...,...,...,...,...
19165,9384960827.jpg,77.763977,77.766724,12.825192,12.822514,"12.823852933769654,77.76535034179688",NaN,NaN
19166,9384960828.jpg,77.763977,77.766724,12.822514,12.819836,"12.821174845388715,77.76535034179688",NaN,NaN
19167,9384960829.jpg,77.763977,77.766724,12.819836,12.817158,"12.81849672851913,77.76535034179688",NaN,NaN
19168,9384960830.jpg,77.763977,77.766724,12.817158,12.814480,"12.815818583166443,77.76535034179688",NaN,NaN
19169,9384960831.jpg,77.763977,77.766724,12.814480,12.811801,"12.81314040933621,77.76535034179688",NaN,NaN

In [6]:
combined_df = pd.merge(locations_df, greens_df, on="ImageFileName")

In [7]:
combined_df

,ImageFileName,Left_Edge_Longitude,Right_Edge_Longitude,Top_Edge_Latitude,Bottom_Edge_Latitude,Lat_Lng,Locality,Postal_Code,Green
0,9370860697.jpg,77.376709,77.379456,13.173097,13.170423,"13.171759767636011,77.37808227539062",NaN,NaN,15.468121
1,9370860698.jpg,77.376709,77.379456,13.170423,13.167748,"13.16908542990592,77.37808227539062",NaN,NaN,8.935547
2,9370860699.jpg,77.376709,77.379456,13.167748,13.165074,"13.16641106296856,77.37808227539062",NaN,562123.0,10.386086
3,9370860700.jpg,77.376709,77.379456,13.165074,13.162399,"13.16373666682944,77.37808227539062",NaN,562123.0,6.626892
4,9370860701.jpg,77.376709,77.379456,13.162399,13.159725,"13.161062241494065,77.37808227539062",NaN,562123.0,32.598877
...,...,...,...,...,...,...,...,...,...
19165,9384960827.jpg,77.763977,77.766724,12.825192,12.822514,"12.823852933769654,77.76535034179688",NaN,NaN,7.692242
19166,9384960828.jpg,77.763977,77.766724,12.822514,12.819836,"12.821174845388715,77.76535034179688",NaN,NaN,23.360634
19167,9384960829.jpg,77.763977,77.766724,12.819836,12.817158,"12.81849672851913,77.76535034179688",NaN,NaN,21.785641
19168,9384960830.jpg,77.763977,77.766724,12.817158,12.814480,"12.815818583166443,77.76535034179688",NaN,NaN,12.071323
19169,9384960831.jpg,77.763977,77.766724,12.814480,12.811801,"12.81314040933621,77.76535034179688",NaN,NaN,7.849693

In [8]:
combined_df.columns

Index(['ImageFileName', 'Left_Edge_Longitude', 'Right_Edge_Longitude',
       'Top_Edge_Latitude', 'Bottom_Edge_Latitude', 'Lat_Lng', 'Locality',
       'Postal_Code', 'Green'],
      dtype='object')

In [9]:
combined_df = combined_df.drop(['Left_Edge_Longitude', 'Right_Edge_Longitude',
                  'Top_Edge_Latitude', 'Bottom_Edge_Latitude'],
                axis=1)

In [10]:
combined_df

,ImageFileName,Lat_Lng,Locality,Postal_Code,Green
0,9370860697.jpg,"13.171759767636011,77.37808227539062",NaN,NaN,15.468121
1,9370860698.jpg,"13.16908542990592,77.37808227539062",NaN,NaN,8.935547
2,9370860699.jpg,"13.16641106296856,77.37808227539062",NaN,562123.0,10.386086
3,9370860700.jpg,"13.16373666682944,77.37808227539062",NaN,562123.0,6.626892
4,9370860701.jpg,"13.161062241494065,77.37808227539062",NaN,562123.0,32.598877
...,...,...,...,...,...
19165,9384960827.jpg,"12.823852933769654,77.76535034179688",NaN,NaN,7.692242
19166,9384960828.jpg,"12.821174845388715,77.76535034179688",NaN,NaN,23.360634
19167,9384960829.jpg,"12.81849672851913,77.76535034179688",NaN,NaN,21.785641
19168,9384960830.jpg,"12.815818583166443,77.76535034179688",NaN,NaN,12.071323
19169,9384960831.jpg,"12.81314040933621,77.76535034179688",NaN,NaN,7.849693

In [11]:
combined_df.dropna(subset=["Postal_Code"], inplace=True)

In [12]:
combined_df

,ImageFileName,Lat_Lng,Locality,Postal_Code,Green
2,9370860699.jpg,"13.16641106296856,77.37808227539062",NaN,562123.0,10.386086
3,9370860700.jpg,"13.16373666682944,77.37808227539062",NaN,562123.0,6.626892
4,9370860701.jpg,"13.161062241494065,77.37808227539062",NaN,562123.0,32.598877
5,9370860702.jpg,"13.158387786967939,77.37808227539062",NaN,562123.0,10.711765
6,9370860703.jpg,"13.155713303256583,77.37808227539062",NaN,562123.0,7.882404
...,...,...,...,...,...
9495,9377860742.jpg,"13.051385732786496,77.57034301757812",Devinagar,560094.0,9.703636
9496,9377860743.jpg,"13.048710086186375,77.57034301757812",Devinagar,560094.0,14.662075
9497,9377860744.jpg,"13.046034410627145,77.57034301757812",R.M.V. 2nd Stage,560094.0,33.291149
9498,9377860745.jpg,"13.043358706114326,77.57034301757812",R.M.V. 2nd Stage,560094.0,29.324532
9499,9377860746.jpg,"13.040682972653439,77.57034301757812",R.M.V. 2nd Stage,560094.0,31.817722

In [13]:
combined_df = combined_df.astype({"Postal_Code": int})

In [14]:
combined_df["Lat"], combined_df["Lon"] = combined_df["Lat_Lng"].str.split(",", 1).str

/home/samyak/Sam/envs/DeepEnv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [15]:
combined_df.drop("Lat_Lng", axis=1, inplace=True)

In [16]:
combined_df = combined_df[["ImageFileName", "Lat", "Lon", "Locality", "Postal_Code", "Green"]]

In [17]:
combined_df

,ImageFileName,Lat,Lon,Locality,Postal_Code,Green
2,9370860699.jpg,13.16641106296856,77.37808227539062,NaN,562123,10.386086
3,9370860700.jpg,13.16373666682944,77.37808227539062,NaN,562123,6.626892
4,9370860701.jpg,13.161062241494065,77.37808227539062,NaN,562123,32.598877
5,9370860702.jpg,13.158387786967939,77.37808227539062,NaN,562123,10.711765
6,9370860703.jpg,13.155713303256583,77.37808227539062,NaN,562123,7.882404
...,...,...,...,...,...,...
9495,9377860742.jpg,13.051385732786496,77.57034301757812,Devinagar,560094,9.703636
9496,9377860743.jpg,13.048710086186375,77.57034301757812,Devinagar,560094,14.662075
9497,9377860744.jpg,13.046034410627145,77.57034301757812,R.M.V. 2nd Stage,560094,33.291149
9498,9377860745.jpg,13.043358706114326,77.57034301757812,R.M.V. 2nd Stage,560094,29.324532
9499,9377860746.jpg,13.040682972653439,77.57034301757812,R.M.V. 2nd Stage,560094,31.817722

In [18]:
combined_df.to_csv("main.csv", index=False, header=False)