In [1]:
import pandas as pd

In [20]:
df = pd.read_csv("./FINAL.csv", header=None)

/home/samyak/Sam/envs/DeepEnv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,374832_374832_243020.jpg,77.377052,13.017604,28.470993,NaN,Bengaluru,562130,"Bengaluru 562130, India",NaN,NaN,Bengaluru,KA,IND
1,374832_374832_243021.jpg,77.377052,13.016935,10.418892,NaN,Bengaluru,562130,"Bengaluru 562130, India",NaN,NaN,Bengaluru,KA,IND
2,374832_374832_243022.jpg,77.377052,13.016266,23.201275,NaN,Bengaluru,562130,"Bengaluru 562130, India",NaN,NaN,Bengaluru,KA,IND
3,374832_374832_243023.jpg,77.377052,13.015597,14.437103,NaN,Bengaluru,562130,"Bengaluru 562130, India",NaN,NaN,Bengaluru,KA,IND
4,374832_374832_243024.jpg,77.377052,13.014928,17.146111,NaN,Bengaluru,562130,"Bengaluru 562130, India",NaN,NaN,Bengaluru,KA,IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...
429240,375590_375590_242919.jpg,77.897530,13.085163,82.369995,NaN,Bengaluru Rural,562114,"Hoskote 562114, India",NaN,NaN,Hoskote,KA,IND
429241,375590_375590_242920.jpg,77.897530,13.084494,51.175880,NaN,Bengaluru Rural,562114,"Hoskote 562114, India",NaN,NaN,Hoskote,KA,IND
429242,375590_375590_242921.jpg,77.897530,13.083826,51.025772,NaN,Bengaluru Rural,562114,"Hoskote 562114, India",NaN,NaN,Hoskote,KA,IND
429243,375590_375590_242922.jpg,77.897530,13.083157,37.821484,NaN,Bengaluru Rural,562114,"Hoskote 562114, India",NaN,NaN,Hoskote,KA,IND
429244,375590_375590_242923.jpg,77.897530,13.082488,61.127472,NaN,Bengaluru Rural,562114,"Hoskote 562114, India",NaN,NaN,Hoskote,KA,IND

In [22]:
unknowns = df[(df[6]=="Not Found") | (df[6].isnull())]

/home/samyak/Sam/envs/DeepEnv/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [23]:
unknowns = unknowns.loc[:, [3, 4, 6]].drop_duplicates()

In [24]:
unknowns.to_csv("unknown_locations.csv", header=None, index=False)

In [33]:
unique_places = df.loc[:, [4, 5, 6]].drop_duplicates()

In [34]:
len(unique_places)

792

In [35]:
unique_places.dropna(subset=[6], inplace=True)

In [38]:
unique_places = unique_places.astype({6: str})

In [40]:
unique_places.set_index(6, inplace=True)

In [41]:
unique_places

                       4                5
6
562130               NaN        Bengaluru
562162               NaN        Bengaluru
560074               NaN        Bengaluru
562123               NaN        Bengaluru
562109               NaN        Bengaluru
...                  ...              ...
560067          Maruthop  Bengaluru Rural
562114          Maruthop  Bengaluru Rural
560067  Naganayakanakote  Bengaluru Rural
560067               NaN  Bengaluru Rural
562122               NaN  Bengaluru Rural

[792 rows x 2 columns]

In [43]:
unique_places.loc["562130"]

                        4          5
6
562130                NaN  Bengaluru
562130        Lakshmipura  Bengaluru
562130    Bylakonenahalli  Bengaluru
562130  Chikkabidarakallu  Bengaluru
562130    Gangondanahalli  Bengaluru
562130     Thigalarapalya  Bengaluru

In [44]:
for i, j in zip(unique_places.loc["562130"][4], unique_places.loc["562130"][5]):
    print(i, j)

nan Bengaluru
Lakshmipura Bengaluru
Bylakonenahalli Bengaluru
Chikkabidarakallu Bengaluru
Gangondanahalli Bengaluru
Thigalarapalya Bengaluru

In [45]:
unique_places.to_csv("pincode_locality_mapping.csv", header=None, index=True)

In [46]:
pincode_locality_mapping = pd.read_csv("./pincode_locality_mapping.csv", header=None)

In [47]:
pincode_locality_mapping.set_index(0, inplace=True)

In [48]:
pincode_locality_mapping

                       1                2
0
562130               NaN        Bengaluru
562162               NaN        Bengaluru
560074               NaN        Bengaluru
562123               NaN        Bengaluru
562109               NaN        Bengaluru
...                  ...              ...
560067          Maruthop  Bengaluru Rural
562114          Maruthop  Bengaluru Rural
560067  Naganayakanakote  Bengaluru Rural
560067               NaN  Bengaluru Rural
562122               NaN  Bengaluru Rural

[792 rows x 2 columns]

In [49]:
for i, j in zip(pincode_locality_mapping.loc[560061][1], pincode_locality_mapping.loc[560061][2]):
    print(i, j)

BSK 6th Stage Bengaluru
Uttarahalli Bengaluru
Rajarajeshwari Nagar Bengaluru
Ganigara Palya Bengaluru
Subramanyapura Bengaluru
Thalaghattapura Bengaluru
Banashankari 5th Stage Bengaluru
Hosahalli Bengaluru
Uttarahalli Hobli Bengaluru
Turahalli Bengaluru
Hosakerehalli Bengaluru
Gubbalala Bengaluru
Vajarahalli Bengaluru
Banashankari 3rd Stage Bengaluru
Chikkalasandra Bengaluru
Vasanthapura Bengaluru
Padmanabha Nagar Bengaluru
Isro Layout Bengaluru
Kumaraswamy Layout 2nd Stage Bengaluru

In [62]:
pincode_locality_mapper = pd.read_csv("./pincode_locality_mapping.csv", header=None)

In [63]:
pincode_locality_mapper.set_index(0, inplace=True)

In [66]:
pincode = "344022"

In [73]:
for sub_district, district in zip(pincode_locality_mapper.loc[[pincode]][1], pincode_locality_mapper.loc[[pincode]][2]):
    print((sub_district, district))

('Gandhipura', 'Bengaluru Urban')