In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("./FINAL_DATA_FILTERED.csv", header=None)

In [5]:
df

,0,1,2,3,4,5,6
0,374832_374832_243022.jpg,13.016266,77.377052,Sondekoppa,Bengaluru Urban,23.201275,562123
1,374832_374832_243023.jpg,13.015597,77.377052,Sondekoppa,Bengaluru Urban,14.437103,562123
2,374832_374832_243024.jpg,13.014928,77.377052,Sondekoppa,Bengaluru Urban,17.146111,562123
3,374832_374832_243025.jpg,13.014259,77.377052,Sondekoppa,Bengaluru Urban,46.919823,562123
4,374832_374832_243026.jpg,13.013590,77.377052,Sondekoppa,Bengaluru Urban,37.316418,562123
...,...,...,...,...,...,...,...
440456,375588_375588_242884.jpg,13.108571,77.896156,Mugabala,Bangalore Rural,42.887497,562114
440457,375588_375588_242885.jpg,13.107902,77.896156,Mugabala,Bangalore Rural,43.653297,562114
440458,375588_375588_242886.jpg,13.107233,77.896156,Mugabala,Bangalore Rural,51.948357,562114
440459,375588_375588_242887.jpg,13.106564,77.896156,Mugabala,Bangalore Rural,70.409966,562114
440460,375588_375588_242888.jpg,13.105896,77.896156,Mugabala,Bangalore Rural,80.256176,562114

In [14]:
unique_places = df.loc[:, [3, 4, 6]].drop_duplicates()

In [19]:
len(unique_places)

1380

In [23]:
unique_places.dropna(subset=[6], inplace=True)

In [25]:
unique_places.set_index(6, inplace=True)

In [37]:
unique_places

                                  3                4
6
562123                   Sondekoppa  Bengaluru Urban
562162  Devamachahalli Narayanapura  Bengaluru Urban
562130               Devamachohalli  Bengaluru Urban
562130                      Ganukal  Bengaluru Urban
560091         Muddanapalya Village  Bengaluru Urban
...                             ...              ...
562114               Chinnandahalli  Bangalore Rural
142049                Tharaj Layout  Bangalore Rural
571475                     Kodipura  Bangalore Rural
560066               Nagondanahalli  Bangalore Rural
560067                     Belathur  Bangalore Rural

[1123 rows x 2 columns]

In [42]:
unique_places.loc["560066"]

                                    3                4
6
560066  Ramagondanahalli North Taluka  Bengaluru Urban
560066                   Basavanapura  Bengaluru Urban
560066                     Whitefield  Bengaluru Urban
560066                   Thubarahalli  Bengaluru Urban
560066                        Hagadur  Bengaluru Urban
560066                    Immadihalli  Bengaluru Urban
560066                 Nagondanahalli  Bengaluru Urban
560066                  Nagondanhalli  Bengaluru Urban
560066  Ramagondanahalli South Taluka  Bengaluru Urban
560066                 Nagondanahalli  Bangalore Rural

In [44]:
for i, j in zip(unique_places.loc["560066"][3], unique_places.loc["560066"][4]):
    print(i, j)

Ramagondanahalli North Taluka Bengaluru Urban
Basavanapura Bengaluru Urban
Whitefield Bengaluru Urban
Thubarahalli Bengaluru Urban
Hagadur Bengaluru Urban
Immadihalli Bengaluru Urban
Nagondanahalli Bengaluru Urban
Nagondanhalli Bengaluru Urban
Ramagondanahalli South Taluka Bengaluru Urban
Nagondanahalli Bangalore Rural

In [50]:
unique_places.to_csv("pincode_locality_mapping.csv", header=None, index=True)

In [51]:
pincode_locality_mapping = pd.read_csv("./pincode_locality_mapping.csv", header=None)

In [54]:
pincode_locality_mapping.set_index(0, inplace=True)

In [55]:
pincode_locality_mapping

                                  1                2
0
562123                   Sondekoppa  Bengaluru Urban
562162  Devamachahalli Narayanapura  Bengaluru Urban
562130               Devamachohalli  Bengaluru Urban
562130                      Ganukal  Bengaluru Urban
560091         Muddanapalya Village  Bengaluru Urban
...                             ...              ...
562114               Chinnandahalli  Bangalore Rural
142049                Tharaj Layout  Bangalore Rural
571475                     Kodipura  Bangalore Rural
560066               Nagondanahalli  Bangalore Rural
560067                     Belathur  Bangalore Rural

[1123 rows x 2 columns]

In [61]:
for i, j in zip(pincode_locality_mapping.loc["560061"][1], pincode_locality_mapping.loc["560061"][2]):
    print(i, j)

Karnpalya Bengaluru Urban
Subramanyapura Bengaluru Urban
Kodipur Bengaluru Urban
Uttarahalli Bengaluru Urban
Vasantapura Bengaluru Urban
Chikkalsandra Bengaluru Urban
Uttarahalli South Bengaluru Urban
Padmanabhanagar Bengaluru Urban
Saravabhomya Nagar Bengaluru Urban
Hittharahalli Bengaluru Urban
Gowdanapalya Bengaluru Urban
Hittharahalli Bangalore Rural

In [62]:
pincode_locality_mapper = pd.read_csv("./pincode_locality_mapping.csv", header=None)

In [63]:
pincode_locality_mapper.set_index(0, inplace=True)

In [66]:
pincode = "344022"

In [73]:
for sub_district, district in zip(pincode_locality_mapper.loc[[pincode]][1], pincode_locality_mapper.loc[[pincode]][2]):
    print((sub_district, district))

('Gandhipura', 'Bengaluru Urban')