In [31]:
import pandas as pd

In [267]:
df=pd.read_csv('all_details.csv')

In [268]:
df

,ImageFileName,Left_Edge_Longitude,Right_Edge_Longitude,Top_Edge_Latitude,Bottom_Edge_Latitude
0,374832_374832_242793.jpg,77.376709,77.377396,13.169754,13.169085
1,374832_374832_242794.jpg,77.376709,77.377396,13.169085,13.168417
2,374832_374832_242795.jpg,77.376709,77.377396,13.168417,13.167748
3,374832_374832_242796.jpg,77.376709,77.377396,13.167748,13.167080
4,374832_374832_242797.jpg,77.376709,77.377396,13.167080,13.166411
...,...,...,...,...,...
538126,375590_375590_243497.jpg,77.897186,77.897873,12.698622,12.697952
538127,375590_375590_243498.jpg,77.897186,77.897873,12.697952,12.697282
538128,375590_375590_243499.jpg,77.897186,77.897873,12.697282,12.696612
538129,375590_375590_243500.jpg,77.897186,77.897873,12.696612,12.695943
538130,375590_375590_243501.jpg,77.897186,77.897873,12.695943,12.695273

In [269]:
df['Avg_Long'] = (df.Left_Edge_Longitude + df.Right_Edge_Longitude)/2
df['Avg_Lat'] = (df.Top_Edge_Latitude + df.Bottom_Edge_Latitude)/2

In [270]:
df=df.drop(['Bottom_Edge_Latitude','Left_Edge_Longitude','Right_Edge_Longitude','Top_Edge_Latitude'],axis=1)

In [38]:
df['prox'] = (df.Avg_Lat).map(str) +','+ (df.Avg_Long).map(str)

In [42]:
df['prox'] = df['Avg_Lat'].map(str) +','+df['Avg_Long'].map(str)+',250'

In [44]:
df=df.drop(['Avg_Long','Avg_Lat'],axis=1)

In [260]:
df

                                            prox
0        13.169419727142376,77.3770523071289,250
1         13.16875113905856,77.3770523071289,250
2        13.168082549149329,77.3770523071289,250
3        13.167413957414775,77.3770523071289,250
4        13.166745363854979,77.3770523071289,250
...                                          ...
538126   12.69828700264902,77.89752960205078,250
538127   12.69761715084158,77.89752960205078,250
538128  12.696947297269615,77.89752960205078,250
538129   12.69627744193321,77.89752960205078,250
538130  12.695607584832455,77.89752960205078,250

[538131 rows x 1 columns]

In [89]:
df1 = df.iloc[0:179377].reset_index()
df2 = df.iloc[179377:358754].reset_index()
df3 = df.iloc[358754:].reset_index()

In [97]:
df1=df1.drop(['index'],axis=1)
df2=df2.drop(['index'],axis=1)
df3=df3.drop(['index'],axis=1)

In [99]:
df1.to_csv('server_1.csv',header=True,index=True,sep='|')

In [100]:
df2.to_csv('server_2.csv',header=True,index=True,sep='|')

In [101]:
df3.to_csv('server_3.csv',header=True,index=True,sep='|')

In [256]:
df.to_csv('server_used.csv',header=True,index=True)

                                            prox
0        13.169419727142376,77.3770523071289,250
1         13.16875113905856,77.3770523071289,250
2        13.168082549149329,77.3770523071289,250
3        13.167413957414775,77.3770523071289,250
4        13.166745363854979,77.3770523071289,250
...                                          ...
179372   12.69828700264902,77.89752960205078,250
179373   12.69761715084158,77.89752960205078,250
179374  12.696947297269615,77.89752960205078,250
179375   12.69627744193321,77.89752960205078,250
179376  12.695607584832455,77.89752960205078,250

[538131 rows x 1 columns]

# HERE MAPS DATA

In [242]:
hf1=pd.read_csv('result_1.csv',sep='|',low_memory=False)
hf2=pd.read_csv('result_2.csv',sep='|',low_memory=False)
hf3=pd.read_csv('result_3.csv',sep='|',low_memory=False)

In [243]:
hf1=hf1[hf1.SeqNumber.isin([1])]
hf2=hf2[hf2.SeqNumber.isin([1])]
hf3=hf3[hf3.SeqNumber.isin([1])]

In [244]:
hf1=hf1.sort_values('recId')
hf2=hf2.sort_values('recId')
hf3=hf3.sort_values('recId')

In [245]:
hf1['new_recId']=[x for x in range(0,179377)]
hf2['new_recId']=[x for x in range(179377,358754)]
hf3['new_recId']=[x for x in range(358754,538131)]

In [246]:
new=pd.concat([hf1,hf2,hf3], join="inner")

In [247]:
new=new.drop(['SeqNumber','seqLength','recId'],axis=1)

In [248]:
new.to_csv('HERE_RAW.csv',index=False,header=True)

In [271]:
df

                   ImageFileName   Avg_Long    Avg_Lat
0       374832_374832_242793.jpg  77.377052  13.169420
1       374832_374832_242794.jpg  77.377052  13.168751
2       374832_374832_242795.jpg  77.377052  13.168083
3       374832_374832_242796.jpg  77.377052  13.167414
4       374832_374832_242797.jpg  77.377052  13.166745
...                          ...        ...        ...
538126  375590_375590_243497.jpg  77.897530  12.698287
538127  375590_375590_243498.jpg  77.897530  12.697617
538128  375590_375590_243499.jpg  77.897530  12.696947
538129  375590_375590_243500.jpg  77.897530  12.696277
538130  375590_375590_243501.jpg  77.897530  12.695608

[538131 rows x 3 columns]

In [272]:
df.to_csv('server_raw.csv',index=True,header=True)

# CONCAT HERE AND IMG

In [279]:
here=pd.read_csv('HERE_RAW.csv',low_memory=False)
img=pd.read_csv('server_raw.csv',low_memory=False)

In [280]:
here

,displayLatitude,displayLongitude,locationLabel,houseNumber,street,district,city,postalCode,county,state,country,new_recId
0,13.171170,77.380470,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,562123,Bengaluru Rural,KA,IND,0
1,13.171170,77.380470,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,562123,Bengaluru Rural,KA,IND,1
2,13.171170,77.380470,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,562123,Bengaluru Rural,KA,IND,2
3,13.171170,77.380470,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,562123,Bengaluru Rural,KA,IND,3
4,13.171170,77.380470,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,562123,Bengaluru Rural,KA,IND,4
...,...,...,...,...,...,...,...,...,...,...,...,...
538126,12.698213,77.898105,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,635109,Krishnagiri,TN,IND,538126
538127,12.697516,77.897877,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,635109,Krishnagiri,TN,IND,538127
538128,12.696882,77.897689,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,635109,Krishnagiri,TN,IND,538128
538129,12.696335,77.897430,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,635109,Krishnagiri,TN,IND,538129
538130,12.695833,77.897139,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,635109,Krishnagiri,TN,IND,538130

In [281]:
img

        new_recId             ImageFileName   Avg_Long    Avg_Lat
0               0  374832_374832_242793.jpg  77.377052  13.169420
1               1  374832_374832_242794.jpg  77.377052  13.168751
2               2  374832_374832_242795.jpg  77.377052  13.168083
3               3  374832_374832_242796.jpg  77.377052  13.167414
4               4  374832_374832_242797.jpg  77.377052  13.166745
...           ...                       ...        ...        ...
538126     538126  375590_375590_243497.jpg  77.897530  12.698287
538127     538127  375590_375590_243498.jpg  77.897530  12.697617
538128     538128  375590_375590_243499.jpg  77.897530  12.696947
538129     538129  375590_375590_243500.jpg  77.897530  12.696277
538130     538130  375590_375590_243501.jpg  77.897530  12.695608

[538131 rows x 4 columns]

In [282]:
df_full=pd.merge(here,img,on='new_recId',how='outer')

In [285]:
df_full=df_full.drop(['displayLatitude','displayLongitude'],axis=1)

In [287]:
df_full

,locationLabel,houseNumber,street,district,city,postalCode,county,state,country,new_recId,ImageFileName,Avg_Long,Avg_Lat
0,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,562123,Bengaluru Rural,KA,IND,0,374832_374832_242793.jpg,77.377052,13.169420
1,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,562123,Bengaluru Rural,KA,IND,1,374832_374832_242794.jpg,77.377052,13.168751
2,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,562123,Bengaluru Rural,KA,IND,2,374832_374832_242795.jpg,77.377052,13.168083
3,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,562123,Bengaluru Rural,KA,IND,3,374832_374832_242796.jpg,77.377052,13.167414
4,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,562123,Bengaluru Rural,KA,IND,4,374832_374832_242797.jpg,77.377052,13.166745
...,...,...,...,...,...,...,...,...,...,...,...,...,...
538126,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,635109,Krishnagiri,TN,IND,538126,375590_375590_243497.jpg,77.897530,12.698287
538127,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,635109,Krishnagiri,TN,IND,538127,375590_375590_243498.jpg,77.897530,12.697617
538128,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,635109,Krishnagiri,TN,IND,538128,375590_375590_243499.jpg,77.897530,12.696947
538129,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,635109,Krishnagiri,TN,IND,538129,375590_375590_243500.jpg,77.897530,12.696277
538130,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,635109,Krishnagiri,TN,IND,538130,375590_375590_243501.jpg,77.897530,12.695608

In [288]:
df_full=df_full[['ImageFileName','Avg_Long','Avg_Lat','locationLabel','houseNumber','street','district','city','county','postalCode','state','country']]

In [289]:
df_full

,ImageFileName,Avg_Long,Avg_Lat,locationLabel,houseNumber,street,district,city,county,postalCode,state,country
0,374832_374832_242793.jpg,77.377052,13.169420,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,Bengaluru Rural,562123,KA,IND
1,374832_374832_242794.jpg,77.377052,13.168751,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,Bengaluru Rural,562123,KA,IND
2,374832_374832_242795.jpg,77.377052,13.168083,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,Bengaluru Rural,562123,KA,IND
3,374832_374832_242796.jpg,77.377052,13.167414,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,Bengaluru Rural,562123,KA,IND
4,374832_374832_242797.jpg,77.377052,13.166745,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,Bengaluru Rural,562123,KA,IND
...,...,...,...,...,...,...,...,...,...,...,...,...
538126,375590_375590_243497.jpg,77.897530,12.698287,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,Krishnagiri,635109,TN,IND
538127,375590_375590_243498.jpg,77.897530,12.697617,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,Krishnagiri,635109,TN,IND
538128,375590_375590_243499.jpg,77.897530,12.696947,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,Krishnagiri,635109,TN,IND
538129,375590_375590_243500.jpg,77.897530,12.696277,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,Krishnagiri,635109,TN,IND
538130,375590_375590_243501.jpg,77.897530,12.695608,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,Krishnagiri,635109,TN,IND

In [303]:
green=pd.read_csv('output.csv',low_memory=False,header=None)

In [305]:
green.columns=['ImageFileName','PercentGreen']

In [306]:
green

                   ImageFileName  PercentGreen
0       374832_374832_242793.jpg      0.016785
1       374832_374832_242801.jpg      0.000000
2       374832_374832_242809.jpg      0.518417
3       374832_374832_242817.jpg      0.002670
4       374832_374832_242825.jpg      3.628826
...                          ...           ...
538125  375590_375590_243466.jpg     71.113014
538126  375590_375590_243474.jpg     38.888359
538127  375590_375590_243482.jpg     48.880482
538128  375590_375590_243490.jpg     73.212433
538129  375590_375590_243498.jpg     95.406437

[538130 rows x 2 columns]

In [307]:
final=pd.merge(df_full,green,on='ImageFileName',how='outer')

In [309]:
final=final[['ImageFileName','Avg_Long','Avg_Lat','PercentGreen','locationLabel','houseNumber','street','district','city','county','postalCode','state','country']]

In [310]:
final

,ImageFileName,Avg_Long,Avg_Lat,PercentGreen,locationLabel,houseNumber,street,district,city,county,postalCode,state,country
0,374832_374832_242793.jpg,77.377052,13.169420,0.016785,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,Bengaluru Rural,562123,KA,IND
1,374832_374832_242794.jpg,77.377052,13.168751,6.078339,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,Bengaluru Rural,562123,KA,IND
2,374832_374832_242795.jpg,77.377052,13.168083,4.986191,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,Bengaluru Rural,562123,KA,IND
3,374832_374832_242796.jpg,77.377052,13.167414,26.789761,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,Bengaluru Rural,562123,KA,IND
4,374832_374832_242797.jpg,77.377052,13.166745,37.653446,"Nelamangala Sub-District 562123, India",NaN,NaN,NaN,Nelamangala Sub-District,Bengaluru Rural,562123,KA,IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...
538126,375590_375590_243497.jpg,77.897530,12.698287,90.427971,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,Krishnagiri,635109,TN,IND
538127,375590_375590_243498.jpg,77.897530,12.697617,95.406437,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,Krishnagiri,635109,TN,IND
538128,375590_375590_243499.jpg,77.897530,12.696947,70.337296,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,Krishnagiri,635109,TN,IND
538129,375590_375590_243500.jpg,77.897530,12.696277,63.558865,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,Krishnagiri,635109,TN,IND
538130,375590_375590_243501.jpg,77.897530,12.695608,36.574173,"Hosur Sub-District 635109, India",NaN,NaN,NaN,Hosur Sub-District,Krishnagiri,635109,TN,IND

In [311]:
x={'Bengaluru Rural'}

In [312]:
for i in final['county']:
    x.add(i)

In [313]:
x

{'Bengaluru', 'Bengaluru Rural', 'Kolar', 'Krishnagiri', 'Ramanagara'}

In [314]:
urban=final[final['county']=='Bengaluru']
rural=final[final['county']=='Bengaluru Rural']

In [315]:
final=pd.concat([urban,rural])

In [316]:
final

,ImageFileName,Avg_Long,Avg_Lat,PercentGreen,locationLabel,houseNumber,street,district,city,county,postalCode,state,country
227,374832_374832_243020.jpg,77.377052,13.017604,28.470993,"Bengaluru 562130, India",NaN,NaN,NaN,Bengaluru,Bengaluru,562130,KA,IND
228,374832_374832_243021.jpg,77.377052,13.016935,10.418892,"Bengaluru 562130, India",NaN,NaN,NaN,Bengaluru,Bengaluru,562130,KA,IND
229,374832_374832_243022.jpg,77.377052,13.016266,23.201275,"Bengaluru 562130, India",NaN,NaN,NaN,Bengaluru,Bengaluru,562130,KA,IND
230,374832_374832_243023.jpg,77.377052,13.015597,14.437103,"Bengaluru 562130, India",NaN,NaN,NaN,Bengaluru,Bengaluru,562130,KA,IND
231,374832_374832_243024.jpg,77.377052,13.014928,17.146111,"Bengaluru 562130, India",NaN,NaN,NaN,Bengaluru,Bengaluru,562130,KA,IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...
537548,375590_375590_242919.jpg,77.897530,13.085163,82.369995,"Hoskote 562114, India",NaN,NaN,NaN,Hoskote,Bengaluru Rural,562114,KA,IND
537549,375590_375590_242920.jpg,77.897530,13.084494,51.175880,"Hoskote 562114, India",NaN,NaN,NaN,Hoskote,Bengaluru Rural,562114,KA,IND
537550,375590_375590_242921.jpg,77.897530,13.083826,51.025772,"Hoskote 562114, India",NaN,NaN,NaN,Hoskote,Bengaluru Rural,562114,KA,IND
537551,375590_375590_242922.jpg,77.897530,13.083157,37.821484,"Hoskote 562114, India",NaN,NaN,NaN,Hoskote,Bengaluru Rural,562114,KA,IND
537552,375590_375590_242923.jpg,77.897530,13.082488,61.127472,"Hoskote 562114, India",NaN,NaN,NaN,Hoskote,Bengaluru Rural,562114,KA,IND

In [320]:
final=final[['ImageFileName','Avg_Long','Avg_Lat','PercentGreen','district','county','postalCode','locationLabel','houseNumber','street','city','state','country']]

In [322]:
final.to_csv('FINAL.csv',header=None,index=False)

In [329]:
import math

In [339]:
final.isnull().sum()

ImageFileName         0
Avg_Long              0
Avg_Lat               0
PercentGreen          1
district         252726
county                0
postalCode            0
locationLabel         0
houseNumber      386615
street           356207
city                  0
state                 0
country               0
dtype: int64

In [ ]:
for i in final['postalCode']:
    if i==560011:
        print(i)